---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

export async function getStaticPaths() {
  const docsEntries = await getCollection("docs");
  return docsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

const links = await getCollection("docs");
---

<MarkdownLayout
  title={entry.data.title + " ðŸ¿ Shasta Docs"}
  links={links}
  headings={headings}
>
  <span slot="section">Documentation</span>
  <h1>{entry.data.title}</h1>
  <Content />
</MarkdownLayout>
