---
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const tutorialEntries = await getCollection("tutorial");
  return tutorialEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, headings } = await entry.render();

const links = (await getCollection("tutorial")).sort(
  (a, b) => a.data.index - b.data.index
);
const next = links.find((e) => e.data.index === entry.data.index + 1);
const prev = links.find((e) => e.data.index === entry.data.index - 1);
---

<MarkdownLayout
  title={entry.data.title + " ðŸ¿ Shasta Tutorial"}
  links={links}
  next={next}
  prev={prev}
  headings={headings}
>
  <span slot="section">Tutorial</span>
  <Content />
</MarkdownLayout>
