---
import CodeEditor from "../components/playground/CodeEditor";
import CompiledView from "../components/playground/CompiledView";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shasta Playground ðŸ¿">
  <h1 class="text-4xl font-bold font-mono text-center">Shasta Playground</h1>
  <main class="grid grid-cols-2 grid-rows-2 gap-10 mx-16 my-10 h-[42rem]">
    <div class="row-span-2"><CodeEditor client:only /></div>
    <div><CompiledView client:only /></div>
    <div>Result</div>
  </main>
</Layout>
