---
import { highlight } from "../utils/highlight";
import { unescapeEntities } from "../utils/unescape";

interface Props {
  language: string;
}

const { language } = Astro.props;
const shouldHighlight = language === "shasta";
const rawHTML = await Astro.slots.render("default");
const rawCode = unescapeEntities(rawHTML).trim();
const code = shouldHighlight ? highlight(rawCode) : rawCode;
---

<div
  class="bg-white dark:bg-slate-900 bg-opacity-75 p-3 rounded-lg shadow dark:shadow-none CODEBLOCK"
>
  <div class="flex justify-between text-sm">
    <span class="font-mono mb-3 opacity-75">{language}</span>
    {
      language === "shasta" && (
        <a href={`/playground/?c=${encodeURIComponent(rawCode)}`}>
          Try it in the Playground
        </a>
      )
    }
  </div>
  <pre class="whitespace-pre-wrap"><code set:html={code} /></pre>
</div>
